# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Tests
__tests__/
coverage/

# Node
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
.tsbuildinfo

# Misc
.DS_Store
.idea/
.vscode/